<!DOCTYPE html>
<html>
<head>
    <title>QR Code Response View</title>
    <style>
        /* 가운데 정렬을 위한 CSS */
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        .content {
            text-align: center;
        }
        .content img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="content">
    <img src="/LOGO.png" alt="충전 정보 이미지">
    <h1>충전 정보를 확인할 수 있습니다.</h1>
    <h1>앱을 확인해보세요!</h1>

</div>
</body>
</html>