<!DOCTYPE html>
<html>
<head>
    <title>QR Code Response View</title>
    <style>
        /* 가운데 정렬을 위한 CSS */
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        .content {
            text-align: center;
        }
        .content img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="content">
    <img src="/LOGO.png" alt="충전 정보 이미지">

    <div th:if="${RealRunTime != null and cost != null}">
        <h1>현재 충전 중입니다.</h1>
        <p>현재까지의 충전 시간: <span th:text="${RealRunTime}"></span></p>
        <p>현재까지의 충전 비용: <span th:text="${cost}"></span></p>
    </div>
    <div th:if="${RealRunTime == null and cost == null}">
        <h1>충전을 시작합니다!</h1>
<!--        <p>충전 시작 시간: <span th:text="${RealStartTime}"></span></p>-->
<!--        <p>충전 예상 종료 시간: <span th:text="${RealEndTime}"></span></p>-->
        <h1>자세한 정보는 앱을 확인해보세요!</h1>
    </div>

</div>
</body>
</html>